.about {
  padding-top: 41px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 36px;
  }
}

.about__text {
  margin-bottom: 41px;
}

.about__caption {
  margin-bottom: 30px;
}

.about__author {
  display: flex;
  align-items: center;
}

.about__author-img {
  display: block;
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 100%;
}

@media screen and (max-width: 340px) {
  .about__author-img {
    width: 45px;
    height: 45px;
  }
}

.about__author-info {
  margin-left: 15px;
}

.about__author-name {
  color: #151515;
  display: block;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.455;
}

@media screen and (max-width: 340px) {
  .about__author-name {
    font-size: 14px;
  }
}

.about__author-position {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555;
}

@media screen and (max-width: 340px) {
  .about__author-position {
    font-size: 12px;
  }
}

.about__icon-list {
  margin: 61px 0 0 0;
}
