.collage {
  position: relative;
  padding-top: 99px;
}

.collage__img-back {
  position: absolute;
  right: 95px;
  top: 0;
  z-index: 0;
}

.collage__img-front {
  display: block;
  margin-left: auto;
  box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
  transition: transform .25s ease;
  transform: translate(0px);
}

.collage__img-front:hover {
  transform: translate(-5px, -5px);
}
