body {
  font-family: "Fira Sans", sans-serif;
  color: #8D8D8D;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  letter-spacing: -0.03em;
  margin: 0;
  padding: 0;
  line-height: 1.1em;
}
