.text-width-caption{
    padding-top: 30px;
    @media screen and (min-width: 992px) {
        padding-top: 0px;
    }
}

.text-width-caption__caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #222222;
}

.text-width-caption__text{
    font-size: 18px;
    line-height: 1.56;
    color: #222222;
    opacity: 0.7;
}