.btn {
  background-color: #3726F2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  padding: 16px 30px;
  border: none;
  border-radius: 0;
  display: inline;
  letter-spacing: 0.3em;
  transform: translateY(0px);
  transition: transform .25s ease;
}

.btn:hover,
.btn:focus {
  transform: translateY(-5px);
}
