.brands-slider {
  padding-top: 76px;
}

.brands-slider__item-img {
  display: block;
  height: 30px;
  width: auto !important;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .brands-slider__item-img {
    height: 68px;
  }
}
