.services {
  padding-top: 48px;
}

.services__lists {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  padding-top: 43px;
}

.services__list {
  display: block;
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

.services__list:last-child {
  padding-right: 0;
}

.services__list-item {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 21px;
}
