.header{
    padding-bottom: 137px;
}

.header__nav{
    padding: 60px 0;
}

// .header__logo{}

.header__search{
    background: transparent;
    border: none;
}

.header__menu{
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
}