.offer{
    padding: 60px 0px;
    @media screen and (max-width: 451px) {
        padding: 30px 0;
    }
}

.offer__row{
    flex-direction: column-reverse;
    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
}

.offer__content{}

.offer__title{
    font-size: 60px;
    margin-bottom: 30px;
    @media screen and (max-width: 340px) {
        font-size: 40px;
    }
}

.offer__description{
    margin: 0;
}

.offer__btn{
    margin-top:56px;
}